.nb-info
  background: #ccd6e8
  padding: 43px 10px 30px
  &__title
    font-family: 'FuturaNewDemi-Reg', sans-serif
    font-size: 28px
    color: #000000
    letter-spacing: 0
    line-height: 1.14
    margin-bottom: 20px
    &_center
      text-align: center
  &__text
    opacity: 0.6
    color: #747B88
    font-size: 14px
    line-height: 17px
    letter-spacing: 0
    font-family: 'FuturaNewBook-Reg', sans-serif
    &_bitter
      font-family: 'Bitters', sans-serif
      font-size: 16px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: 0.5px
      text-align: center
      color: #9a9dac
      opacity: 1
      padding: 22px 0 4px
    &_center
      text-align: center
  .container
    max-width: 650px
  @media (min-width: 500px)
    &__text
      font-size: 16px
      &_bitter
        font-size: 18px
    br
      display: none
  @media (min-width: 768px)
    &__title
      font-size: 36px
      margin-bottom: 20px
