
.nb-main
  position: static
  min-height: 2500px // del
  padding-top: 11px
  @media (min-width: 768px)
    padding-top: 48px


.nb-main-sponsor
  &__header
    margin: 0
    color: #FFFFFF
    font-size: 30px
    line-height: 1.2
    text-align: center
    letter-spacing: 2.3px
    font-family: FuturaNewBold-Reg
    margin-bottom: 18px
  &__text
    opacity: 0.7
    font-family: FuturaNewBook-Reg
    font-size: 16px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.33
    letter-spacing: 1px
    text-align: center
    color: #ffffff
    margin-bottom: 25px
  &__logo
    margin: 0 auto
    text-align: center
    margin-bottom: 36px
  &__img
    max-width: 100%
  @media (min-width: 768px)
    &__header
      font-size: 60px
      line-height: 1.2
      letter-spacing: 4.6px
      margin-bottom: 14px
    &__text
      font-size: 18px
      margin-bottom: 14px
    &__img
      width: 360px
    &__logo
      margin-bottom: 68px


